@model Pet
@{
    ViewData["Title"] = "Home Page";
}

<div class="container w-75 mx-auto">

<h1>Hello! Add a pet to our project!</h1>

<form asp-controller="Home" asp-action="Create" method="POST">
    @* using the asp-for tags looks at the Model that we've designated
    as our viewmodel (line 1) and based on the data types, will generate
    the label and input for us *@
    <div class="mb-3">
      <label asp-for="Name"></label>
      <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
      <input class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
      <label asp-for="Type"></label>
      <span asp-validation-for="Type" class="text-danger font-weight-bold"></span>
      <input class="form-control" asp-for="Type">
    </div>

    <div class="mb-3">
      <label asp-for="Age"></label>
      <span asp-validation-for="Age" class="text-danger font-weight-bold"></span>
      <input class="form-control" asp-for="Age">
    </div>

    <div class="mb-3">
      <label asp-for="Color"></label>
      <span asp-validation-for="Color" class="text-danger font-weight-bold"></span>
      <input class="form-control" asp-for="Color">
    </div>

    <input type="submit" value="Submit">
</form>

</div>