<div>
    <h2>Name: @Context.Session.GetString("PetName")</h2>
    <h2>Type: @Context.Session.GetString("PetType")</h2>
    <p>Age: @Context.Session.GetInt32("PetAge")</p>
    <p>Color: @Context.Session.GetString("PetColor")</p>
</div>